/* GRID */
.row-ovh {
  width: 100%;
  overflow: hidden;
}

.col-left {
  float: left;
  margin-top: 10px;
}

.col-50 {
  width: 50%;
}

/* FORMULARIO: CONTROLADORES */
.selectable-item {
  padding: 10px;
  cursor: pointer !important;
}

.selectable-item-active {
  background-color: #72D2F5;
}

.selectable-item:hover {
  background-color: #B6E7F9;
}

.caja-seleccion {
  background-color: #f7f7f9;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: small;
  height: 150px;
  overflow-y: scroll;
}

.mr-10px {
  margin-right: 10px;
}

.ml-10px {
  margin-left: 10px;
}

.btn-ajustable {
  width: 100%;
}